$darkGrey: rgb(38, 37, 37);
$lightGrey: rgb(223, 224, 224);
$lightYellow: rgb(238, 239, 232);
$blueGrey: rgb(67, 74, 97);
$lightBlue: rgb(85, 92, 124);
$greenBlue: rgb(128, 143, 150);
$redGrey: rgb(124, 85, 86);
